{
  "x-generator": "NSwag v14.2.0.0 (NJsonSchema v11.1.0.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "ProjectX User API",
    "description": "ProjectX User API Documentation and specification.",
    "version": "1.0.0"
  },
  "host": "userapi.topstepx.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/AccountTemplate/userTemplates": {
      "get": {
        "tags": [
          "AccountTemplate"
        ],
        "summary": "Retrieves a list of all templates associated with a specific user",
        "operationId": "AccountTemplate_GetUserTemplates",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A list of AccountTemplateModel.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountTemplateModel"
              }
            }
          }
        }
      }
    },
    "/AccountTemplateRule/rules/{accountTemplateId}/all": {
      "get": {
        "tags": [
          "AccountTemplateRule"
        ],
        "summary": "Retrieves a list of all rule configurations for the specified account template id",
        "operationId": "AccountTemplateRule_GetAllAttachedRules",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountTemplateId",
            "in": "path",
            "required": true,
            "description": "Account template id",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "List of rule types (rule IDs) attached to the template",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccountTemplateRuleModel"
              }
            }
          }
        }
      }
    },
    "/brackets": {
      "get": {
        "tags": [
          "AutoOcoBrackets"
        ],
        "operationId": "AutoOcoBrackets_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AutoOcoBracketModel"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AutoOcoBrackets"
        ],
        "operationId": "AutoOcoBrackets_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoOcoBracketRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AutoOcoBracketResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AutoOcoBrackets"
        ],
        "operationId": "AutoOcoBrackets_Delete",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutoOcoBracketRemoveRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AutoOcoBracketRemoveResponse"
            }
          }
        }
      }
    },
    "/charts_old/1.1/charts": {
      "delete": {
        "tags": [
          "ChartData"
        ],
        "operationId": "ChartData_Delete",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "client",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "user",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "chart",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChartResult"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ChartData"
        ],
        "operationId": "ChartData_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "client",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "user",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "chart",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChartResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ChartData"
        ],
        "operationId": "ChartData_Post",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "client",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "user",
            "in": "query",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "chart",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "name",
            "in": "formData",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "content",
            "in": "formData",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "symbol",
            "in": "formData",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "resolution",
            "in": "formData",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChartResult"
            }
          }
        }
      }
    },
    "/charts/all": {
      "get": {
        "tags": [
          "Charts"
        ],
        "operationId": "Charts_GetAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ChartSummaryModel"
              }
            }
          }
        }
      }
    },
    "/charts/remove/{id}": {
      "get": {
        "tags": [
          "Charts"
        ],
        "operationId": "Charts_Remove",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/charts": {
      "post": {
        "tags": [
          "Charts"
        ],
        "operationId": "Charts_SaveChart",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChartModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/charts/content/{chartId}": {
      "get": {
        "tags": [
          "Charts"
        ],
        "operationId": "Charts_GetChart",
        "parameters": [
          {
            "type": "string",
            "name": "chartId",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/chart-templates/all": {
      "get": {
        "tags": [
          "ChartTemplates"
        ],
        "operationId": "ChartTemplates_GetAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/chart-templates/remove/{templateName}": {
      "get": {
        "tags": [
          "ChartTemplates"
        ],
        "operationId": "ChartTemplates_Remove",
        "parameters": [
          {
            "type": "string",
            "name": "templateName",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/chart-templates": {
      "post": {
        "tags": [
          "ChartTemplates"
        ],
        "operationId": "ChartTemplates_SaveChartTemplate",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChartTemplateModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/chart-templates/content/{templateName}": {
      "get": {
        "tags": [
          "ChartTemplates"
        ],
        "operationId": "ChartTemplates_GetChartTemplate",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "templateName",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/ContractLimit/all/{accountId}": {
      "get": {
        "tags": [
          "ContractLimit"
        ],
        "operationId": "ContractLimit_GetAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RiskContractLimitModel"
              }
            }
          }
        }
      }
    },
    "/ContractLimit/set": {
      "post": {
        "tags": [
          "ContractLimit"
        ],
        "operationId": "ContractLimit_Set",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetRiskContractLimitsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SetRiskContractLimitsResult"
            }
          }
        }
      }
    },
    "/drawing-templates/all/{toolName}": {
      "get": {
        "tags": [
          "DrawingTemplates"
        ],
        "operationId": "DrawingTemplates_GetAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "toolName",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DrawingTemplateModel"
              }
            }
          }
        }
      }
    },
    "/drawing-templates/all/{toolName}/names": {
      "get": {
        "tags": [
          "DrawingTemplates"
        ],
        "operationId": "DrawingTemplates_GetAllNames",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "toolName",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/drawing-templates/remove": {
      "post": {
        "tags": [
          "DrawingTemplates"
        ],
        "operationId": "DrawingTemplates_RemoveDrawingTemplate",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveDrawingTemplateRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/drawing-templates/save": {
      "post": {
        "tags": [
          "DrawingTemplates"
        ],
        "operationId": "DrawingTemplates_SaveDrawingTemplate",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DrawingTemplateModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/drawing-templates/content": {
      "post": {
        "tags": [
          "DrawingTemplates"
        ],
        "operationId": "DrawingTemplates_GetDrawingTemplate",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDrawingTemplateRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/drawing-templates/content/{toolName}/{templateName}": {
      "get": {
        "tags": [
          "DrawingTemplates"
        ],
        "operationId": "DrawingTemplates_GetDrawingTemplateDepracated",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "toolName",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "templateName",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": true
      }
    },
    "/drawing-templates": {
      "post": {
        "tags": [
          "DrawingTemplates"
        ],
        "operationId": "DrawingTemplates_SaveDrawingTemplateDepracated",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DrawingTemplateModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "deprecated": true
      }
    },
    "/drawing-templates/remove/{toolName}/{templateName}": {
      "get": {
        "tags": [
          "DrawingTemplates"
        ],
        "operationId": "DrawingTemplates_Remove",
        "parameters": [
          {
            "type": "string",
            "name": "toolName",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "templateName",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "deprecated": true
      }
    },
    "/ForgotPassword": {
      "get": {
        "tags": [
          "ForgotPassword"
        ],
        "summary": "Begin the password reset process for a user.\nThis will send out a password reset email to the user.",
        "operationId": "ForgotPassword_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "userName",
            "in": "query",
            "description": "The username associated with the user",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PasswordResetResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ForgotPassword"
        ],
        "summary": "Complete the password reset process for a user.",
        "operationId": "ForgotPassword_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordResetRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/PasswordResetResult"
            }
          }
        }
      }
    },
    "/JournalLog/upsert": {
      "post": {
        "tags": [
          "JournalLog"
        ],
        "operationId": "JournalLog_Upsert",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JournalLogUpsertRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/JournalLogUpsertResponse"
            }
          }
        }
      }
    },
    "/JournalLog/getForDay": {
      "post": {
        "tags": [
          "JournalLog"
        ],
        "operationId": "JournalLog_GetForDay",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetJournalLogDayRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JournalLog"
              }
            }
          }
        }
      }
    },
    "/JournalLog/getForTrade": {
      "post": {
        "tags": [
          "JournalLog"
        ],
        "operationId": "JournalLog_GetForTrade",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetJournalLogTradeRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/JournalLog"
            }
          }
        }
      }
    },
    "/JournalLog/getForRange": {
      "post": {
        "tags": [
          "JournalLog"
        ],
        "operationId": "JournalLog_GetForRange",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetJournalLogRangeRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JournalLog"
              }
            }
          }
        }
      }
    },
    "/JournalLog/delete": {
      "delete": {
        "tags": [
          "JournalLog"
        ],
        "operationId": "JournalLog_Delete",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteJournalLogRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Layouts": {
      "post": {
        "tags": [
          "Layouts"
        ],
        "operationId": "Layouts_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LayoutModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Layouts"
        ],
        "operationId": "Layouts_Delete",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Layouts"
        ],
        "operationId": "Layouts_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LayoutModel"
              }
            }
          }
        }
      }
    },
    "/line-tools/load/{layoutId}/{chartId}": {
      "get": {
        "tags": [
          "LineTools"
        ],
        "operationId": "LineTools_Load",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "layoutId",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "chartId",
            "in": "path",
            "required": true,
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LineToolsModel"
            }
          }
        }
      }
    },
    "/line-tools/remove/{id}": {
      "get": {
        "tags": [
          "LineTools"
        ],
        "operationId": "LineTools_Remove",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/line-tools": {
      "post": {
        "tags": [
          "LineTools"
        ],
        "operationId": "LineTools_SaveLineTool",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LineToolsModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/LinkedOrder": {
      "delete": {
        "tags": [
          "LinkedOrder"
        ],
        "operationId": "LinkedOrder_UnlinkOrders",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnlinkOrderUserRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UnlinkOrderUserResponse"
            }
          }
        },
        "deprecated": true
      },
      "get": {
        "tags": [
          "LinkedOrder"
        ],
        "operationId": "LinkedOrder_GetLinkedOrders",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "tradingAccountId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetLinkedOrdersResponse"
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "LinkedOrder"
        ],
        "operationId": "LinkedOrder_LinkOrders",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LinkOrderUserRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LinkOrderUserResponse"
            }
          }
        },
        "deprecated": true
      }
    },
    "/Login": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Authenticates a user based on the provided login request.",
        "operationId": "Login_Login",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "A login request model containing the username and password of the user.",
            "schema": {
              "$ref": "#/definitions/LoginRequestModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A model containing the result of the login attempt and the token, if successful.",
            "schema": {
              "$ref": "#/definitions/LoginResultModel"
            }
          }
        }
      }
    },
    "/Login/v2": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Authenticates a user based on the provided login request.",
        "operationId": "Login_LoginV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "description": "A login request model containing the username and password of the user.",
            "schema": {
              "$ref": "#/definitions/LoginRequestModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A model containing the result of the login attempt and the token, if successful.",
            "schema": {
              "$ref": "#/definitions/LoginResultModel"
            }
          }
        }
      }
    },
    "/Login/key": {
      "post": {
        "tags": [
          "Login"
        ],
        "operationId": "Login_ApiLogin",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApiKeyLoginRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginResultModel"
            }
          }
        }
      }
    },
    "/MarketClosure": {
      "get": {
        "tags": [
          "MarketClosure"
        ],
        "operationId": "MarketClosure_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MarketClosureModel"
              }
            }
          }
        }
      }
    },
    "/MarketStatus": {
      "get": {
        "tags": [
          "MarketStatus"
        ],
        "operationId": "MarketStatus_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MarketStatusSummary"
            }
          }
        },
        "deprecated": true
      }
    },
    "/MarketStatus/summary": {
      "get": {
        "tags": [
          "MarketStatus"
        ],
        "operationId": "MarketStatus_GetSummary",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MarketStatusSummary"
            }
          }
        }
      }
    },
    "/MarketStatus/markets": {
      "get": {
        "tags": [
          "MarketStatus"
        ],
        "operationId": "MarketStatus_GetMarkets",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MarketStatus"
              }
            }
          }
        }
      }
    },
    "/MarketStatus/setStatus": {
      "post": {
        "tags": [
          "MarketStatus"
        ],
        "operationId": "MarketStatus_SetMarketStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetSingleMarketStatusRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SetMarketStatusResponse"
            }
          }
        }
      }
    },
    "/MarketStatus/setStatus/all": {
      "post": {
        "tags": [
          "MarketStatus"
        ],
        "operationId": "MarketStatus_SetAllMarketStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetManyMarketStatusRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SetManyMarketStatusResponse"
            }
          }
        }
      }
    },
    "/MarketStatus/resetStatus": {
      "post": {
        "tags": [
          "MarketStatus"
        ],
        "operationId": "MarketStatus_ResetMarketStatus",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetSingleMarketStatusRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SetMarketStatusResponse"
            }
          }
        }
      }
    },
    "/MarketStatus/resetStatus/all": {
      "post": {
        "tags": [
          "MarketStatus"
        ],
        "operationId": "MarketStatus_ResetAllMarketStatus",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SetManyMarketStatusResponse"
            }
          }
        }
      }
    },
    "/MarketStatus/debug/{symbolId}/{num}": {
      "post": {
        "tags": [
          "MarketStatus"
        ],
        "operationId": "MarketStatus_DebugMarketStatus",
        "parameters": [
          {
            "type": "string",
            "name": "symbolId",
            "in": "path",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "num",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Metadata": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "operationId": "Metadata_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SymbolMetadata"
              }
            }
          }
        }
      }
    },
    "/MigrateData/partialcharts": {
      "post": {
        "tags": [
          "MigrateData"
        ],
        "operationId": "MigrateData_MigrateChartsPartial",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigratePartialChartsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/MigrateData/charts": {
      "get": {
        "tags": [
          "MigrateData"
        ],
        "operationId": "MigrateData_MigrateCharts",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateChartsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/create": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Create2FARequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateMfaErrorCode"
            }
          }
        },
        "deprecated": true
      }
    },
    "/MultiFactorAuthentication/v2/create": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_CreateV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Create2FARequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateRecoveryCodesResult"
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/submit": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_Submit2FA",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Submit2FAResult"
            }
          }
        },
        "deprecated": true
      }
    },
    "/MultiFactorAuthentication/v2/submit": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_SubmitMfa",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Verify2FARequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Submit2FAResult"
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/submitRecovery": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_SubmitRecoveryCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SubmitRecoveryCodeResult"
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/regenerateRecoveryCodes": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_RegenerateRecoveryCodes",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegenerateRecoveryCodesResult"
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/has2FA": {
      "get": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_Has2FA",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/Disable2FA": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_Disable2Fa",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Disable2FAErrorCode"
            }
          }
        },
        "deprecated": true
      }
    },
    "/MultiFactorAuthentication/v2/DisableMfa": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_DisableMfa",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Verify2FARequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Disable2FAErrorCode"
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/AdminDisable2FA": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_AdminDisable2FA",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "body",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Disable2FAErrorCode"
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/requestEmailCode": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_RequestEmailCode",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestEmailCodeModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RequestEmailCodeResult"
            }
          }
        }
      }
    },
    "/MultiFactorAuthentication/hasMfa": {
      "post": {
        "tags": [
          "MultiFactorAuthentication"
        ],
        "operationId": "MultiFactorAuthentication_HasMfa",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HasMfaRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/HasMfaResult"
            }
          }
        }
      }
    },
    "/Onboarding/data": {
      "get": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Get onboarding data including user info, current step, required agreements, and available subscriptions.",
        "operationId": "Onboarding_GetOnboardingData",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "OnboardingDataModel containing user profile fields, OnboardingRequired,\nOnboardingState, any required agreements, and placeholder subscriptions.",
            "schema": {
              "$ref": "#/definitions/OnboardingDataModel"
            }
          }
        }
      }
    },
    "/Onboarding/requestEmailAuthCode": {
      "get": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Request an email authentication code for the user. \nThis will send the user an email with the authentication code.",
        "operationId": "Onboarding_RequestEmailAuthCode",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "RequestEmailCodeResponse with the nonce for the email authentication code.",
            "schema": {
              "$ref": "#/definitions/RequestEmailCodeResponse"
            }
          }
        }
      }
    },
    "/Onboarding/password": {
      "post": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Step 1: Set the user's password.",
        "operationId": "Onboarding_SetPassword",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "Contains the new password.",
            "schema": {
              "$ref": "#/definitions/SetPasswordRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "SetPasswordResponse with success flag and error code. Returns\nInvalidStepOrder if the current OnboardingState does not allow this step.",
            "schema": {
              "$ref": "#/definitions/SetPasswordResponse"
            }
          }
        }
      }
    },
    "/Onboarding/mfa": {
      "post": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Step 2: Configure Multi-Factor Authentication (MFA) using an authenticator app.",
        "operationId": "Onboarding_SetupMfa",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "Contains the Base32-encoded secret for authenticator-based MFA.",
            "schema": {
              "$ref": "#/definitions/SetupMfaRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "SetupMfaResponse with success flag, recovery codes on success, and error code.\nReturns InvalidStepOrder if the current OnboardingState is not MultiFactorAuth.",
            "schema": {
              "$ref": "#/definitions/SetupMfaResponse"
            }
          }
        }
      }
    },
    "/Onboarding/subscription": {
      "post": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Step 3: Create the user's subscription.",
        "operationId": "Onboarding_CreateSubscription",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "Subscription selection payload (currently a placeholder).",
            "schema": {
              "$ref": "#/definitions/CreateSubscriptionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "CreateSubscriptionResponse with success flag and error code. Returns\nInvalidStepOrder if the current OnboardingState is not Subscription.",
            "schema": {
              "$ref": "#/definitions/CreateSubscriptionResponse"
            }
          }
        }
      }
    },
    "/Onboarding/agreements": {
      "post": {
        "tags": [
          "Onboarding"
        ],
        "summary": "Step 4: Sign all required user agreements and finalize onboarding.",
        "operationId": "Onboarding_SignAgreements",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "Agreement signing payload including agreement IDs and user address info.",
            "schema": {
              "$ref": "#/definitions/SignAgreementRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "SignAgreementsResponse with success flag and error code. On success, onboarding is\nfinalized, any previous sessions are revoked, a new session is created, and an AuthToken is returned.\nReturns InvalidStepOrder if the current OnboardingState is not Agreements.",
            "schema": {
              "$ref": "#/definitions/SignAgreementsResponse"
            }
          }
        }
      }
    },
    "/Order/cancel/{accountId}/all": {
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Cancels all open orders for an account.",
        "operationId": "Order_CancelAllAccountOrders",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean that is true if the operation was successful; otherwise, false.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Order/cancel/{accountId}/symbol/{symbolId}": {
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Cancels all open orders on a symbol for an account.",
        "operationId": "Order_CancelAccountOrderBySymbolId",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "symbolId",
            "in": "path",
            "required": true,
            "description": "The ID of the symbol.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean value indicating whether an order was cancelled.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Order/cancel/{accountId}/contract/{contractId}": {
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Cancels all open orders on a contract for an account.",
        "operationId": "Order_CancelAccountOrderByContractId",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "contractId",
            "in": "path",
            "required": true,
            "description": "The ID of the contract.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean value indicating whether an order was cancelled.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Order/edit/trailingDistance/{orderId}": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Updates the trailing distance of an existing order.",
        "operationId": "Order_PutTrailingOrderDistance",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The ID of the order to update.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "trailingDistance",
            "in": "query",
            "description": "The new trailing distance for the order.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean value indicating whether the operation was successful.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Order/edit/stopLimit/{orderId}": {
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Updates the limit price of an existing order.",
        "operationId": "Order_EditOrder",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The ID of the order to update.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "number",
            "name": "limitPrice",
            "in": "query",
            "description": "The new limit price for the order.",
            "format": "decimal",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean value indicating whether the operation was successful.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Order/cancel/{accountId}/id/{orderId}": {
      "delete": {
        "tags": [
          "Order"
        ],
        "summary": "Cancels an order for an account.",
        "operationId": "Order_CancelAccountOrderById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "orderId",
            "in": "path",
            "required": true,
            "description": "The ID of the order.",
            "format": "int64",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean value indicating whether the cancellation was successful.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Order": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Retrieves a list of recent orders for an account.",
        "description": "Recent orders are defined as orders that were created within the last 24 hours.",
        "operationId": "Order_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "query",
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A list of recent orders for the specified account.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderModel"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Places an order.",
        "description": "This method supports both live and simulated trading accounts.\nIf the account is a follower account, the order placement is rejected.",
        "operationId": "Order_Post",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The request containing the details of the order to be placed.",
            "schema": {
              "$ref": "#/definitions/PlaceOrderRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A response containing the result of the order placement operation.",
            "schema": {
              "$ref": "#/definitions/PlaceOrderResponse"
            }
          }
        }
      }
    },
    "/Order/user/export/json": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_UserExportJson",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserExportRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderExportModel"
              }
            }
          }
        }
      }
    },
    "/Order/user/export/csv": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_UserExportCsv",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserExportRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/Order/editStopLossAccount": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_UpdateStopLossAccount",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateStopLossAccountRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateStopLossResponse"
            }
          }
        }
      }
    },
    "/Order/editStopLoss": {
      "post": {
        "tags": [
          "Order"
        ],
        "operationId": "Order_UpdateStopLoss",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateStopLossRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UpdateStopLossResponse"
            }
          }
        },
        "deprecated": true
      }
    },
    "/Order/postWithContract": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "Places an order.",
        "description": "This method supports both live and simulated trading accounts.\nIf the account is a follower account, the order placement is rejected.",
        "operationId": "Order_PostWithContract",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The request containing the details of the order to be placed.",
            "schema": {
              "$ref": "#/definitions/PlaceOrderRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A response containing the result of the order placement operation.",
            "schema": {
              "$ref": "#/definitions/PlaceOrderResponse"
            }
          }
        }
      }
    },
    "/PersonalLockout/active/{tradingAccountId}": {
      "get": {
        "tags": [
          "PersonalLockout"
        ],
        "operationId": "PersonalLockout_GetActive",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "tradingAccountId",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalLockoutModel"
              }
            }
          }
        }
      }
    },
    "/PersonalLockout/all": {
      "get": {
        "tags": [
          "PersonalLockout"
        ],
        "operationId": "PersonalLockout_GetAll",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "tradingAccountId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalLockoutModel"
              }
            }
          }
        }
      }
    },
    "/PersonalLockout/add": {
      "post": {
        "tags": [
          "PersonalLockout"
        ],
        "operationId": "PersonalLockout_Add",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "lockouts",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PersonalLockoutModel"
              }
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/SetPersonalLockoutResult"
            }
          }
        }
      }
    },
    "/Position/close/{accountId}/symbol/{symbolId}": {
      "delete": {
        "tags": [
          "Position"
        ],
        "summary": "Closes an open position on the symbol for an account.",
        "operationId": "Position_Close",
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "symbolId",
            "in": "path",
            "required": true,
            "description": "The ID of the symbol to be closed.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Position/close/{accountId}/contract/{contractId}": {
      "delete": {
        "tags": [
          "Position"
        ],
        "summary": "Closes an open position on the contract for an account.",
        "operationId": "Position_CloseByContract",
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "contractId",
            "in": "path",
            "required": true,
            "description": "The ID of the contract to be closed.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Position/close/{accountId}": {
      "delete": {
        "tags": [
          "Position"
        ],
        "summary": "Closes all open positions for an account.",
        "operationId": "Position_CloseAll",
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Position/riskToMake": {
      "put": {
        "tags": [
          "Position"
        ],
        "summary": "Updates the to-risk and to-make targets for a position.",
        "operationId": "Position_PutRiskToMake",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "PositionId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "number",
            "name": "Risk",
            "in": "query",
            "format": "decimal",
            "x-nullable": true
          },
          {
            "type": "number",
            "name": "ToMake",
            "in": "query",
            "format": "decimal",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A StopLossTakeProfitModel containing the updated stop-loss and take-profit values.",
            "schema": {
              "$ref": "#/definitions/StopLossTakeProfitModel"
            }
          }
        }
      }
    },
    "/Position/sltp": {
      "put": {
        "tags": [
          "Position"
        ],
        "summary": "Updates the stop-loss and take-profit values for a position.",
        "operationId": "Position_PutSltp",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "PositionId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "number",
            "name": "StopLoss",
            "in": "query",
            "format": "decimal",
            "x-nullable": true
          },
          {
            "type": "number",
            "name": "TakeProfit",
            "in": "query",
            "format": "decimal",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "ErrorMessage",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "CancellationSource",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/LegacyOrderCancellationSource"
            },
            "x-nullable": false,
            "enum": [
              0,
              1,
              2
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A StopLossTakeProfitModel containing the updated stop-loss and take-profit values.",
            "schema": {
              "$ref": "#/definitions/UpdateStopLossTakeProfitResult"
            }
          }
        }
      }
    },
    "/Position/reverse": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Reverses a position on a symbol for an account.",
        "operationId": "Position_Reverse",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "query",
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "symbol",
            "in": "query",
            "description": "The ID of the symbol to be reversed.",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean indicating the success of the operation.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Position/reverseWithTimeType": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Reverses a position on a symbol for an account.",
        "operationId": "Position_ReverseWithTimeType",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "query",
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "symbol",
            "in": "query",
            "description": "The ID of the symbol to be reversed.",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "timeType",
            "in": "query",
            "description": "The timeType of the order to be placed.",
            "x-schema": {
              "$ref": "#/definitions/TimeType"
            },
            "x-nullable": false,
            "enum": [
              0,
              1
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean indicating the success of the operation.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Position/reverseByContract": {
      "get": {
        "tags": [
          "Position"
        ],
        "operationId": "Position_ReverseByContract",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "contractId",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Position/reverseByContractWithTimeType": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Reverses a position on a contract for an account.",
        "operationId": "Position_ReverseByContractWithTimeType",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "query",
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "contractId",
            "in": "query",
            "description": "The ID of the contract to be reversed.",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "timeType",
            "in": "query",
            "description": "The timeType of the order to be placed.",
            "x-schema": {
              "$ref": "#/definitions/TimeType"
            },
            "x-nullable": false,
            "enum": [
              0,
              1
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A boolean indicating the success of the operation.",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/Position/all/account/{accountId}": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Retrieves the open positions for a specific trading account.",
        "operationId": "Position_GetByTradingAccount",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A list of PositionModel representing the open positions for the account.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PositionModel"
              }
            }
          }
        }
      }
    },
    "/Position": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Retrieves the open positions for an account.",
        "operationId": "Position_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "accountId",
            "in": "query",
            "description": "The ID of the account.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A list of PositionModel representing the open positions for the account.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PositionModel"
              }
            }
          }
        }
      }
    },
    "/Position/all/user/{userId}": {
      "get": {
        "tags": [
          "Position"
        ],
        "summary": "Retrieves the open positions for the current user.",
        "operationId": "Position_GetAllByUser",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The ID of the user.",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A list of PositionModel representing the open positions for the current user.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PositionModel"
              }
            }
          }
        }
      }
    },
    "/Register": {
      "post": {
        "tags": [
          "Register"
        ],
        "operationId": "Register_Register",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RegisterResponse"
            }
          }
        }
      }
    },
    "/RiskSettingsLockout/active/{tradingAccountId}": {
      "get": {
        "tags": [
          "RiskSettingsLockout"
        ],
        "operationId": "RiskSettingsLockout_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "tradingAccountId",
            "in": "path",
            "required": true,
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RiskSettingsLockout"
            }
          }
        }
      }
    },
    "/RiskSettingsLockout/addForDay": {
      "post": {
        "tags": [
          "RiskSettingsLockout"
        ],
        "operationId": "RiskSettingsLockout_AddForDay",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "tradingAccountId",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateRiskSettingsLockoutResult"
            }
          }
        }
      }
    },
    "/RiskSettingsLockout/add": {
      "post": {
        "tags": [
          "RiskSettingsLockout"
        ],
        "operationId": "RiskSettingsLockout_Add",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "lockout",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RiskSettingsLockoutModel"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateRiskSettingsLockoutResult"
            }
          }
        }
      }
    },
    "/Session/validate": {
      "get": {
        "tags": [
          "Session"
        ],
        "operationId": "Session_Validate",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserSessionValidateResponse"
            }
          }
        }
      }
    },
    "/SingleSignOn/generate": {
      "post": {
        "tags": [
          "SingleSignOn"
        ],
        "summary": "Generates a temporary SSO token for the specified user.",
        "operationId": "SingleSignOn_Generate",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The SSO token generation request containing the username.",
            "schema": {
              "$ref": "#/definitions/SsoGenerateRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A model containing the result of the SSO token generation attempt.",
            "schema": {
              "$ref": "#/definitions/SsoGenerateResponse"
            }
          }
        }
      }
    },
    "/SingleSignOn/login": {
      "post": {
        "tags": [
          "SingleSignOn"
        ],
        "summary": "Validates an SSO token and generates an authentication token for the user.",
        "operationId": "SingleSignOn_Login",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The SSO login request containing the SSO token.",
            "schema": {
              "$ref": "#/definitions/SsoLoginRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "A model containing the result of the SSO login attempt and the authentication token, if successful.",
            "schema": {
              "$ref": "#/definitions/SsoLoginResponse"
            }
          }
        }
      }
    },
    "/Statistics/monthly": {
      "post": {
        "tags": [
          "Statistics"
        ],
        "operationId": "Statistics_GetMonthly",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetMonthlyStatisticsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompleteDayStatistic"
              }
            }
          }
        }
      }
    },
    "/Statistics/weekly": {
      "post": {
        "tags": [
          "Statistics"
        ],
        "operationId": "Statistics_GetWeekly",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetWeeklyStatisticsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CompleteDayStatistic"
[...]
